@import 'src/styles/variables.module.scss';

.icon {
  padding: 0.5rem;
  font-size: 1.5rem;
  transition: all 0.3s ease-in-out;
  color: $color-palette-main;
}

.opened_icon {
  transform: rotate(180deg) !important;
}
